<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  {{ with .Site.Params.goatCounter.code }}
  <img src="https://{{ . }}.goatcounter.com/count?p={{ $.RelPermalink }}" alt="" width="1" height="1">
  {{ end }}
</body>
</html>
